body
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: $background-color
    color: $text-color

.h1-title
    font-size: 30px
    line-height: 48px
    letter-spacing: 0.038em

.h2-title
    font-size: 25px
    line-height: 48px
    letter-spacing: 0.038em

.h3-title
    font-size: 17px
    line-height: 48px
    letter-spacing: 0.038em

.section
    padding: 100px 15px

.wrapper
    max-width: 1565px
    margin: auto
