.m-a
    margin: auto

// .section
//     padding: 100px 15px

.header-menu
    margin-bottom: 20px

.header
    margin: 30px auto
    &-nav
        display: flex
        justify-content: space-between

.header-block1
    &__link
        font-family: 'MuseoSans-500', Sans-serif
        text-decoration: none
        color: $text-color-hover
    &__logo
        font-family: 'MuseoModerno-Light', sans-serif
        color: $text-color
    &__text
        position: relative
        display: inline-block
        margin-right: 10px
        padding-right: 10px
        letter-spacing: .12em
        &::after
            position: absolute
            display: inline-block
            right: 0
            bottom: 3px
            width: 1px
            height: 70%
            content: ''
            background: $text-color-hover
            opacity: .5

.header-block2__link
    position: relative
    display: inline-block
    font-family: 'MuseoSans-300'
    font-size: 19px
    text-decoration: none
    color: $text-color
    margin-right: 22px
    letter-spacing: normal
    &:hover
        color: $text-color-hover
        font-weight: normal
        transition: 0.6s
        &::after
            display: block
            // transition: all 1.2s ease-in-out 0s
    &::after
        display: none
        position: absolute
        width: 100%
        bottom: -4px
        content: ''
        height: 1px
        background: $text-color-hover

.phone
    font-family: 'MuseoSans-500', sans-serif
    color: $text-color-hover
    text-decoration: none
    font-family: Museo Sans Cyrl
    font-size: 18px
    letter-spacing: 0.05em
    &:hover
        font-weight: bold
        transition: 0.6s

.phone-icon
    width: 14px
    height: 14px
    margin-right: 8px

.hr
    width: 100%
    height: 1px
    border: none
    background: $hr-color

.hr_mb
    margin-bottom: 60px

.btn
    margin-top: 57px
    &__link
        display: inline-block
        font-family: 'MuseoSans-500', sans-serif
        letter-spacing: 0.1em
        border: 1px solid $text-color-hover
        border-radius: 50px
        padding: 15px 54px
        text-decoration: none
        color: $text-color-hover
        &:hover
            background-color: $btn-background-hover
            box-shadow: 0px 0px 30px $btn-hover-boxshadow
            color: $btn-hover-textcolor
            transition: 0.6s
        &:focus
            background: $btn-focus-textcolor

.slider
    width: 100%
    position: relative
    display: flex
    align-items: center
    margin: 75px auto 60px auto
    background: url('../img/slider-bg.png') left center no-repeat
    &-left
        position: relative
        left: -40px
        min-width: 550px
    &-right
        position: relative
        left: 5px
    &-nav
        display: flex
        justify-content: center
        margin-bottom: 60px
    &-circle
        display: flex
        flex-wrap: nowrap
        list-style: none
        &__svg
            width: 15px
            height: 15px
        &__item
            padding-right: 26px
            &:last-child
                padding-right: 0px

.arrow
    &-left
        position: relative
        left: -60px
        // &__img
        //     &:hover
        //         stroke: red
        // сюда вставить анимацию при наведении на стрелку слайдера
    &-right
        position: relative
        left: 20px

.steps
    display: flex
    justify-content: space-between
    width: 80%
    margin: auto
    margin-bottom: 60px
    &-block
        display: flex
        align-items: center
        &__number
            position: relative
            font-family: 'MuseoModerno-Medium', sans-serif
            font-style: normal
            font-weight: 500
            font-size: 30px
            letter-spacing: 0.05em
            border: 1px solid $text-color-hover
            border-radius: 50%
            padding: 20px 29px
            z-index: -1
        &__text
            position: relative
            display: block
            font-family: 'MuseoSans-500', sans-serif
            font-size: 17px
            line-height: 23px
            letter-spacing: 0.05em
            text-transform: uppercase
            font-style: normal
            font-weight: normal
            padding: 2px 26px
            margin-left: -20px
            background-color: $background-color
            color: $text-color
            z-index: 0
