// Отзывы клиентов
.review
    margin: 67px auto
    background: url('../img/bg-fon.png') center center no-repeat

.review-block
    display: flex
    justify-content: center
    padding: 30px 0
    &__item
        padding-right: 32px
        &:last-child
            padding-right: 0
    &__image
        border-radius: 15px
        cursor: pointer
        width: 350px

.review__popup
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    display: none
    text-align: center

.review__popup_bg
    background: rgba(0,0,0,0.4)
    position: fixed
    z-index: 1
    height: 100%
    width: 100%

.review__popup_img
    margin: 0 auto
    transform: translate(-25vh, 15vh)
    position: fixed
    z-index: 2
    max-height: 94%
    max-width: 94%
